/* Esto lo agrego porque no viene en Normalize.css */
*,
::after,
::before {
  box-sizing: border-box;
}

main {
  border: 1px solid red;
  padding: 10px;
}

#description {
  color: blue;
}

#email-label {
}

#email {
    border-radius: 5px;
}


#name-label {
    color: green;
    font-weight: bolder;
}

#name {
    font-weight:lighter;
    color: blue;
}

#survey-form {
    background-color: salmon;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


#survey-form > label {
  text-transform: capitalize;
}

#title {
  color: crimson;
}
